---
// import Card from '~/components/Card.astro';
import ControlInput from '~/components/ControlInput';
import Searchbar from '~/components/Searchbar.tsx';
import Layout from '~/layouts/Layout.astro';
---

<Layout title="Ohayou sekai!">
	<main>
		<h1>Welcome to <span class="text-gradient">These nutz</span></h1>
		<Searchbar client:load/>
	</main>
</Layout>
