---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="list-none flex p-1/4 bg-red-200 bg-no-repeat bg-400% rounded-lg bg-right shadow-md">
  <a href={href} class="w-full flex-col flex items-center space-x-2 no-underline leading-5 py-4 px-5 rounded-sm text-black bg-white opacity-80">
    <h2 class="text-xl transition-colors duration-600 cubic-bezier[0.22, 1, 0.36, 1]">
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="mt-2 mb-0 text-gray-600">{body}</p>
  </a>
</li>
